{% extends 'base.html.twig' %}

{% block title  'Voir tous nos biens' %}


{% block body %}
<div class="container mt-4">
    <h1>Voir tous nos biens</h1>
    <p>Imaxime vel iduntia solut voluptae volorem aspienima plist, ommolorisque nonsequidit, omnis sinciis</p>
</div>


{% endblock body %}