{% extends 'base.html.twig' %}

{% block title  'Editer le bien' %}


{% block body %}
<div class="container mt-4">
    <h1>Editer l'option avec _form</h1>

    {{ include('admin/option/_form.html.twig', {form: form, button: 'Editer' }) }}

</div>


{% endblock body %}
{% block stylesheets %}
{% endblock stylesheets %}

{% block javascripts %}

{% endblock %}